/* Universal */
body {
  font-size: 16px;
  color: black;
}

main {
  background-color: #EDFAFD;
}

h1, h2, h3, h4 {
  font-family: Oswald, sans-serif;
}

h1 {
  font-size: 3.5rem;
}

h3 {
  font-weight: 500;
  font-size: 1.5rem;
}

h2, h4 {
  font-size: 2.85rem;
}

span, p, h5 {
  font-family: Lato, sans-serif;
  font-size: 1.05rem
}

.background-color {
  background-color:#AED9DA;
}

.accent-color {
  background-color: #2A93D5;
}

.flex {
  display: flex;
}

/* Image Containers */

.image-container-large img {
  width: 100%;
}

.image-container-large {
  width: 60%;
  margin: 2rem 1.5rem;
}

.image-container-small img {
  width: 100%;
  height: auto;
}

.image-container-small {
  width: 35%;
}

/* Header */

nav {
  display: flex;
  width: 100%;
  align-items: center;
  height: 4rem;
  position: fixed;
  z-index: 1;
  background-color: white;
  border-bottom: 2px solid black;
}

.title {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.menu {
  text-align: right;
  flex-grow: 1;
  padding-right: 1rem;
  font-size: 1.25rem;
}

.title span {
  color: #2A93D5;
  font-size: 1.5rem;
  text-shadow: 1px 2px 1px #135589;
}

#colmar {
  font-weight: 700;
}

#academy {
  color: #135589;
}

.menu span {
  padding: .55rem .4375rem;
  border-radius: 5%;
}

.menu span:hover {
  background-color: #AED9DA;
  transition: background-color 150ms ease-in 50ms;
}

.nav-mobile {
  display: none;
}

@media only screen and (max-width:480px) {
  .title, .menu {
    display: none;
  }

  header {
    max-width: 480px;
  }

  .nav-mobile {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
}

/* Banner */

#banner {
  padding-top: 4rem;
}

.banner-space {
  width: 40%
}

#banner-content {
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding-right: 1.5rem;
}

#banner-heading {
  line-height: 3.75rem;
}

#banner-support {
  word-break: break-all;
  font-size: 1.5rem;
}

.banner-text-padding {
  padding-bottom: 3.75rem;
}

#start-here {
  border: 0;
     line-height: 2.5;
     font-size: 1rem;
     text-align: center;
     background-color: #2A93D5;
     border-radius: 10px;
     width: 100%;
     align-items: center;
}

.button {
  margin-right: 15%;
}

#start-here:hover {
  box-shadow: inset 2px 2px 2px #135589;
  transition: box-shadow 50ms linear 50ms;
  text-shadow: 1px 1px 1px #135589;
  transition: text-shadow 20ms linear 20ms;
}

@media only screen and (max-width:480px) {
  #banner {
    flex-direction: column;
  }

  .banner-space {
    width: inherit;
  }

  #learn-picture {
    margin: 0;
    width: 100%;
  }

  #banner-content {
    padding: 0 1rem 0 1rem;
  }

  #banner-heading {
    padding: 2rem 0;
  }

  #banner-support {
    padding-bottom: 1.5rem;
  }

  #start-here {
    margin-bottom: 2rem;
  }

  .button {
    margin: 0;
  }
}

/* Information */

.support h5 {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  line-height: 1.35rem;
}

aside {
  width: 40%;
}

#border {
  border-left: .5px solid #AED9DA;
}

.side {
  padding: 1rem;
  align-items: center;
}

#orientation {
  margin-top: 1rem;
}

.side-content {
  padding-left: 1rem;
  line-height: 1.5rem;
  width: 65%;
}

.side h3 {
  padding-bottom: .5rem;
}

.heading-support, .read {
  font-size: 1.15rem;
  padding-bottom: .5rem;
}

.read {
  color: blue;
}

.read:hover {
  text-decoration: underline;
  transition: text-decoration 150ms linear 750ms;
}

@media only screen and (max-width:480px) {
  #information-content {
    display: none;
  }

  aside {
    width: 100%;
  }

  #orientation {
    margin: 0;
  }

  .side {
    display: flex;
    flex-wrap: wrap;
  }

  .image-container-small {
    width: 100%;
  }

  .side-content {
    padding: 2rem 0 2rem 1rem;
    width: 100%;
  }

  #campus {
    background-color: #EDFAFD;
  }
}

/* Program Path Section */

#program-content {
  flex-flow: column;
}

#program-content h2 {
  margin: 2rem 0;
  text-align: center;
}

.program-container {
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 4.5rem 2rem 4.5rem;
}

.program {
  background-color: #EDFAFD;
  width: 25%;
  margin: .5rem;
  flex-grow: 1;
}

.program img {
  width: 100%;
}

.program-text {
  padding: 1rem;
}

.course {
  padding: .5rem 0;
  font-family: Lato, sans-serif;
  font-style: italic;
  font-weight: 400;
}

.course-description {
  line-height: 1.35rem;
}

@media only screen and (max-width:480px) {
  .program img, .program p, .program span {
    display: none;
    margin: 0;
    padding: 0
  }

  #program-content h2 {
    margin: 2rem 0 1rem 0;
  }

  .program-container {
    display: flex;
    margin: 0 0 1.5rem 0;
  }

  .program {
    width: 100%;
    margin: 0 1rem .5rem 1rem;
  }

  .program-text {
    padding: 1rem 0 1.5rem 1rem;
  }
}

/* Thesis Content */
#thesis {
  flex-direction: column;
}

#thesis h2 {
  margin: 2rem 0;
  text-align: center;
}

.video-container {
  width: 60%;
  padding: 0 1.5rem;
}

video {
  width: 100%;
}

.video-container h4 {
  padding-top: 1.5rem;
  padding-bottom: .5rem;
  margin: 0;
}

.video-container p {
  padding-bottom: 2rem;
  line-height: 1.35rem;
}

.thesis-side img {
  width: 100%;
}

.thesis-image {
  width: 35%;
  padding: 1rem;
}

.thesis-side {
  align-items: center;
}

.side-text {
  width: 30%;
  flex-grow: 1;
}

.side-text h3 {
  padding-bottom: 1rem;
  line-height: 1.5rem;
}

.side-text p {
  line-height: 1.25rem;
}

@media only screen and (max-width:480px) {
  #thesis-side, .video-container h4, .video-container p {
    display: none;
  }

  #thesis h2 {
    margin: 2rem 0 1rem 0;
  }

  .video-container {
    width: 100%;
    padding: 0 0 1.5rem 0;
  }
}

/* Footer */

footer {
  border-top: 1px solid grey;
}

footer div {
  margin: 1rem 1.5rem 2rem 1.5rem;
}

footer span {
  font-size: .75rem;
}

#copy {
  flex-grow: 1;
}

.term-privacy {
  padding: 0 .1rem;
}

.term-privacy:hover {
  text-decoration: underline;
  transition: text-decoration 150ms linear 750ms;
}

@media only screen and (max-width:480px) {
  .term-privacy {
    display: none;
  }

  footer div {
    margin: 1rem;
  }
}
